{% extends 'base.html' %}
{% load static %}
{% block title %}Comics - Quên mật khẩu{% endblock %}
{% block content %}
  <!-- BREADCRUMB -->
  <div id="breadcrumb" class="section">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <ul class="breadcrumb-tree">
                      <li><a href="{% url 'core:index' %}">Trang chủ</a></li>
                      <li class="active">Quên mật khẩu</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <!-- /BREADCRUMB -->

  <!-- SECTION -->
  <div class="section">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-md-offset-3">
                  <div class="section-title text-center">
                      <h3 class="title">Quên mật khẩu</h3>
                  </div>
                  
                  <form method="POST" action="{% url 'accounts:forgot_password' %}" id="forgot-password-form">
                      {% csrf_token %}
                      <div class="form-group">
                          <label for="forgot-email">Email đã đăng ký</label>
                          <input class="input" type="email" name="email" id="forgot-email" required>
                      </div>
                      <button id="forgot-password-btn" type="submit" class="primary-btn">Gửi yêu cầu</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <!-- /SECTION -->
  <script src="{% static 'js/account.js' %}"></script>

{% endblock %}