{% extends 'base.html' %}
{% load static %}
{% block title %}Comics - Đặt lại mật khẩu{% endblock %}
{% block content %}
  <!-- BREADCRUMB -->
  <div id="breadcrumb" class="section">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <ul class="breadcrumb-tree">
                      <li><a href="{% url 'core:index' %}">Trang chủ</a></li>
                      <li class="active">Đặt lại mật khẩu</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <!-- /BREADCRUMB -->

  <!-- SECTION -->
  <div class="section">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-md-offset-3">
                  <div class="section-title text-center">
                      <h3 class="title">Đặt lại mật khẩu</h3>
                  </div>
                  <form method="POST" action="{% url 'accounts:reset_password' %}?token={{ token }}" id="reset-password-form">
                      {% csrf_token %}
                      <div class="form-group">
                          <label for="reset-new-password">Mật khẩu mới</label>
                          <input class="input" type="password" name="new-password" id="reset-new-password" required>
                      </div>
                      <div class="form-group">
                          <label for="reset-confirm-new-password">Nhập lại mật khẩu mới</label>
                          <input class="input" type="password" name="confirm-new-password" id="reset-confirm-new-password" required>
                      </div>
                      <button id="reset-password-btn" type="submit" class="primary-btn">Lưu mật khẩu</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <!-- /SECTION -->
  <script src="{% static 'js/account.js' %}"></script>
{% endblock %}