{% extends 'base.html' %}
{% load humanize %}
{% block title %}Comics - Danh mục{% endblock %}
{% block content %}
    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb-tree">
                        <li><a href="{% url 'core:index' %}">Trang chủ</a></li>
                        <li class="active">Danh mục</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /BREADCRUMB -->

    <!-- SECTION -->
    <div class="section">
        <div class="container">
            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-3">
                    <div class="aside">
                        
                        <div class="column category">
                            <h3 class="aside-title">Thể loại</h3>
                            {% for category in categories %}
                                <a href="{% url 'comics:comic_categories_by_slug' slug=category.slug %}"
                                    class="{% if category.slug in category_slugs %}active{% endif %}">
                                    {{ category.name }}
                                </a>
                            {% empty %}
                                <p>Chưa có thể loại</p>
                            {% endfor %}
                        </div> 
                    </div>
             
                    <div class="aside">
                        <div class="column author">
                        <h3 class="aside-title">Tác giả</h3>
                            {% for author in authors %}
                                <a href="{% url 'comics:comic_categories_by_author' author=author.author %}"
                                    class="{% if author.author == selected_author %}active{% endif %}">
                                    {{ author.author }}</a>
                            {% empty %}
                                <p>Chưa có tác giả</p>
                            {% endfor %}
                        </div> 
                    </div>

                    <div class="aside">
                        <div class="column publisher">
                        <h3 class="aside-title">Nhà xuất bản</h3>
                            {% for publisher in publishers %}
                                {% if publisher.publisher %}
                                    <a href="{% url 'comics:comic_categories_by_publisher' publisher=publisher.publisher %}"
                                    class="{% if publisher.publisher == selected_publisher %}active{% endif %}">
                                    {{ publisher.publisher }}</a>
                                {% endif %}
                            {% empty %}
                                <p>Chưa có nhà xuất bản</p>
                            {% endfor %}
                        </div> 
                    </div>

                    <div class="aside">
                        <div class="column price">
                        <h3 class="aside-title">Mức giá</h3>
                            {% for price_range in price_ranges %}
                                {% if price_range.max %}
                                    <a href="{% url 'comics:comic_categories_by_price' min_price=price_range.min max_price=price_range.max %}"
                                    class="{% if price_range.min == selected_min_price and price_range.max == selected_max_price %}active{% endif %}">
                                    {{ price_range.name }}</a>
                                {% else %}
                                    <a href="{% url 'comics:comic_categories_by_price' min_price=price_range.min %}"
                                    class="{% if price_range.min == selected_min_price and not selected_max_price %}active{% endif %}">
                                    {{ price_range.name }}</a>
                                {% endif %}
                            {% endfor %}
                        </div> 
                    </div>
                </div>
                <!-- /ASIDE -->

                <!-- STORE -->
                <div id="store" class="col-md-9">
                    <!-- store top filter -->
                    <div class="store-filter clearfix">
                        <div class="store-sort">
                            {% load i18n %}

<label>
    Sắp xếp theo:
    <select class="input-select"
        onchange="let url = '';
        {% if category_slugs %}
            url = '{% url 'comics:comic_categories_by_slug' category_slugs|first %}?';
        {% elif selected_author %}
            url = '{% url 'comics:comic_categories_by_author' selected_author|slugify %}?';
        {% elif selected_publisher %}
            url = '{% url 'comics:comic_categories_by_publisher' selected_publisher|slugify %}?';
        {% elif selected_min_price %}
            {% if selected_max_price %}
                url = '{% url 'comics:comic_categories_by_price' selected_min_price selected_max_price %}?';
            {% else %}
                url = '{% url 'comics:comic_categories_by_price' selected_min_price %}?';
            {% endif %}
        {% endif %}
        url += 'sort=' + this.value + '&page={{ page_obj.number }}';
        window.location.href = url;"
    >
        <option value="name_asc" {% if sort == 'name_asc' %}selected{% endif %}>Tên truyện từ A tới Z</option>
        <option value="name_desc" {% if sort == 'name_desc' %}selected{% endif %}>Tên truyện từ Z tới A</option>
        <option value="price_asc" {% if sort == 'price_asc' %}selected{% endif %}>Giá tăng dần</option>
        <option value="price_desc" {% if sort == 'price_desc' %}selected{% endif %}>Giá giảm dần</option>
        <option value="date_asc" {% if sort == 'date_asc' %}selected{% endif %}>Ngày cũ nhất</option>
        <option value="date_desc" {% if sort == 'date_desc' %}selected{% endif %}>Ngày mới nhất</option>
    </select>
</label>
                        </div>
                    </div>
                    <!-- /store top filter -->

                      <!-- store products -->
                    <div class="row">
                        {% for comic in page_obj %}
                            <div class="col-md-4 col-xs-6">
                                <div class="product">
                                    <div class="product-img">
                                        <a href="{% url 'comics:comic_detail' comic.slug %}"><img src="{{ comic.cover_image.url }}" alt="{{ comic.name }}"></a>
                                        <div class="product-label">
                                            {% if comic.sale > 0 %}
                                                <span class="sale">-{{ comic.sale }}%</span>
                                            {% endif %}
                                            {% if comic.is_new %}
                                                <span class="new">MỚI</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">{{ comic.category }}</p>
                                        <h3 class="product-name"><a href="{% url 'comics:comic_detail' comic.slug %}">{{ comic.name }}</a></h3>
                                        <h4 class="product-price">
                                            {% if comic.sale > 0 %}
                                                {{ comic.discounted_price|intcomma }}đ <del class="product-old-price">{{ comic.price|intcomma }}đ</del>
                                            {% else %}
                                                {{ comic.price|intcomma }}đ 
                                            {% endif %}
                                        </h4>
                                        <div class="product-rating"></div>
                                        <div class="product-btns">
                                            {% if user.is_authenticated %}
                                                <button class="add-to-wishlist">
                                                    <i class="far fa-heart heart-icon" data-comic-id="{{ comic.id }}"></i><span class="tooltipp">Thêm yêu thích</span>
                                                </button>
                                                <a href="{% url 'comics:comic_detail' comic.slug %}">
                                                    <button class="quick-view">
                                                        <i class="fa-solid fa-eye"></i>
                                                        <span class="tooltipp">Xem chi tiết</span>
                                                    </button>
                                                </a>
                                                <button type="submit" class="add-to-cart-btn"
                                                    {% if comic.stock == 0 %}
                                                        style="cursor: not-allowed !important; opacity: 0.5;"
                                                        disabled
                                                    {% endif %}
                                                    onclick="addToCart({{ comic.id}}, 1)"
                                                >
                                                    <i class="fa-solid fa-cart-shopping"></i><span class="tooltipp">Thêm vào giỏ</span>
                                                </button>
                                            {% else %}
                                                <button class="add-to-wishlist" data-toggle="modal" data-target="#largeModal">
                                                    <i class="far fa-heart"></i><span class="tooltipp">Thêm yêu thích</span>                                                
                                                </button>
                                                <a href="{% url 'comics:comic_detail' comic.slug %}">
                                                    <button class="quick-view">
                                                        <i class="fa-solid fa-eye"></i><span class="tooltipp">Xem chi tiết</span>                                                      
                                                    </button>
                                                </a>
                                                <button class="add-to-cart-btn" data-toggle="modal" data-target="#largeModal">
                                                    <i class="fa-solid fa-cart-shopping"></i><span class="tooltipp">Thêm vào giỏ</span>
                                                </button>
                                            {% endif %}      
                                        </div>
                                    </div>
                                    {% if user.is_authenticated %}
                                        <div class="add-to-cart"><a href="{% url 'cart:cart_detail' %}">
                                            <button class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping"></i>
                                                Giỏ hàng
                                            </button></a>
                                        </div>
                                    {% else %}
                                        <div class="add-to-cart"><a data-toggle="modal" data-target="#largeModal">
                                            <button class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping"></i>
                                                Giỏ hàng
                                            </button></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            {% if forloop.counter|divisibleby:2 %}
                                <div class="clearfix visible-sm visible-xs"></div>
                            {% endif %}

                            {% if forloop.counter|divisibleby:3 %}
                                <div class="clearfix visible-lg visible-md"></div>
                            {% endif %}
                        {% empty %}
                            <p>Không có sản phẩm nào.</p>
                        {% endfor %}
                    </div>
                    <!-- /store products -->

                    <!-- store bottom filter -->
                    <div class="store-filter clearfix">
                        <span class="store-qty">{{ display_range }}</span>
                        <ul class="store-pagination">
                            {% if page_obj.number != 1 %}
                                <li><a href="?page=1&{% for slug in category_slugs %}category={{ slug }}&{% endfor %}sort={{ sort }}"><i class="fa fa-angle-double-left"></i></a></li>
                            {% endif %}

                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}&{% for slug in category_slugs %}category={{ slug }}&{% endfor %}sort={{ sort }}"><i class="fa fa-angle-left"></i></a></li>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                                {% if num|add:"-2" <= page_obj.number and num|add:"2" >= page_obj.number %}
                                    {% if page_obj.number == num %}
                                        <li class="active">{{ num }}</li>
                                    {% else %}
                                        <li><a href="?page={{ num }}&{% for slug in category_slugs %}category={{ slug }}&{% endfor %}sort={{ sort }}">{{ num }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}&{% for slug in category_slugs %}category={{ slug }}&{% endfor %}sort={{ sort }}"><i class="fa fa-angle-right"></i></a></li>
                            {% endif %}

                            {% if page_obj.number != total_pages %}
                                <li><a href="?page={{ total_pages }}&{% for slug in category_slugs %}category={{ slug }}&{% endfor %}sort={{ sort }}"><i class="fa fa-angle-double-right"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /STORE -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
{% endblock %}